// Place all the styles related to the calculation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


@font-face {
    font-family: 'font_custom';
    src: font-url('Ronde-B_square.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.index:after{
    content: "";
    display: block;
    clear: both;
}
.money_sum, .mufg, .saving, .resona{
    float: left;
    width: 50%;
}

.index h1{
    font-family: 'font_custom';
    font-size: 50px;
}