// Place all the styles related to the calculation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



.index:after{
    content: "";
    display: block;
    clear: both;
}
.money_sum, .mufg, .saving, .resona{
    float: left;
    width: 50%;
}
