<div class = "income">
    <h1>収入</h1>

    <form action= "#" method="post">
    <p>
    <input type="checkbox" name="income" value="1">貯金箱<br>
    <input type="checkbox" name="income" value="2">三菱東京UFJ銀行<br>
    <input type="checkbox" name="income" value="3">りそな銀行<br>
    </p>
    <p>
    <input type="submit" value="送信する">
    </p>
    </form>
</div>