<div class = "index">
    <div class = "money_sum">   <!--総資産-->
        <h1>sum</h1>
    </div>

    <div class = "mufg">        <!--MUFG-->
        <h1>三菱東京UFJ銀行</h1>
    </div>
</div>

<div class = "index">
    <div class = "saving">      <!--貯金箱--> 
        <h1>貯金箱</h1>
    </div>

    <div class = "resona">      <!--りそな-->
        <h1>りそな銀行</h1>
    </div>
</div>