<div class = "index">
    <div class = "money_sum">   <!--総資産-->
        <h1>Total funds</h1>
        <img src = "/logo/Total_funds.png">
        <p>変数A</p>
    </div>

    <div class = "mufg">        <!--MUFG-->
        <h1>三菱東京UFJ銀行</h1>
        <img src = "/logo/mufg.png">
        <p>変数B</p>

    </div>
</div>

<div class = "index">
    <div class = "saving">      <!--貯金箱--> 
        <h1>貯金箱</h1>
        <img src = "/logo/Piggy_bank.png">
        <p>変数C</p>
    </div>

    <div class = "resona">      <!--りそな-->
        <h1>りそな銀行</h1>
        <img src = "/logo/resona.png">
        <p>変数D</p>
    </div>
</div>