<div class = "top">

    <div class = "top_logo">    <!--ロゴ-->
        <img src = "/logo/L-size.png">
    </div>

    <div class = "top_about">    <!--サイトについて-->
        <h1>about</h1>
            <p>このサイトは自身の貯金の総資産を可視化することを目的としています。</p>

        <h2>貯金箱への貯金、口座への入金がある場合</h2>
            <p>貯金額または収入額を入力し総資産の再計算を行います。</p>

        <h2>貯金箱から支出、口座からの引き出しがある場合</h2>
            <p>支出額を入力し総資産の再計算を行います。</p>
    </div>

</div>